version: 2.1
orbs:
  architect: giantswarm/architect@2.4.2

workflows:
  build:
    jobs:
      - architect/go-build:
          name: build-route53-manager
          context: architect
          binary: route53-manager
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-route53-manager-to-quay
          context: architect
          image: "quay.io/giantswarm/route53-manager"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - build-route53-manager
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-route53-manager-to-aliyun
          context: architect
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/route53-manager"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - build-route53-manager
          # Needed to trigger job only on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-route53-manager-to-control-plane-app-catalog
          context: architect
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "route53-manager"
          requires:
            - push-route53-manager-to-quay
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-route53-manager-to-aws-app-collection
          context: architect
          app_name: "route53-manager"
          app_namespace: "monitoring"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-route53-manager-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
